{% extends "_base.html" %}

{% block content %}

<h1>500</h1>
<p>Something went terribly wrong! We are looking into this issue, thank you for your patience</p>
<p><a href="{{url_for('users.login')}}">Go back home</a></p>

{% endblock %}
