{% extends "_base.html" %}
{% block content %}

<h1>Welcome to FlaskTaskr</h1>
<br>
<a href="{{ url_for('users.logout') }}">Logout</a>
<div class="add-task">
  <h3>Add a new task:</h3>
    <form action="{{ url_for('tasks.new_task') }}" method="post">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.name(placeholder="name") }}
        {% if form.name.errors %}
          <span class="error">
            {% for error in form.name.errors %}
              {{ error }}
            {% endfor %}
          </span>
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.due_date(placeholder="due date") }}
        {% if form.due_date.errors %}
          <span class="error">
            {% for error in form.due_date.errors %}
              {{ error }}
            {% endfor %}
          </span>
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.priority.label }}
        {{ form.priority }}
        {% if form.priority.errors %}
          <span class="error">
            {% for error in form.priority.errors %}
              {{ error }}
            {% endfor %}
          </span>
        {% endif %}
      </div>
      <div class="form-group"><input class="btn btn-default" type="submit" value="Submit"></div>
    </form>
</div>
<div class="entries">
  <br>
  <br>
  <h2>Open tasks:</h2>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="200px"><strong>Task Name</strong></th>
          <th width="75px"><strong>Due Date</strong></th>
          <th width="100px"><strong>Posted Date</strong></th>
          <th width="50px"><strong>Priority</strong></th>
          <th width="90px"><strong>Posted By</strong></th>
          <th><strong>Actions</strong></th>
        </tr>
      </thead>
      {% for task in open_tasks %}
        <tr>
          <td width="200px">{{ task.name }}</td>
          <td width="75px">{{ task.due_date }}</td>
          <td width="100px">{{ task.posted_date }}</td>
          <td width="50px">{{ task.priority }}</td>
          <td width="90px">{{ task.poster.name }}</td>
          {% if task.poster.name == session.name or session.role == "admin" %}
            <td>
              <a href="{{ url_for('tasks.delete', task_id = task.task_id) }}">Delete</a>  -
              <a href="{{ url_for('tasks.complete', task_id = task.task_id) }}">Mark as Complete</a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<br>
<br>
<div class="entries">
  <h2>Closed tasks:</h2>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="200px"><strong>Task Name</strong></th>
          <th width="75px"><strong>Due Date</strong></th>
          <th width="100px"><strong>Posted Date</strong></th>
          <th width="50px"><strong>Priority</strong></th>
          <th width="90px"><strong>Posted By</strong></th>
          <th><strong>Actions</strong></th>
        </tr>
      </thead>
      {% for task in closed_tasks %}
        <tr>
          <td width="200px">{{ task.name }}</td>
          <td width="75px">{{ task.due_date }}</td>
          <td width="100px">{{ task.posted_date }}</td>
          <td width="50px">{{ task.priority }}</td>
          <td width="90px">{{ task.poster.name }}</td>
          {% if task.poster.name == session.name or session.role == "admin" %}
            <td>
               <a href="{{ url_for('tasks.delete', task_id = task.task_id) }}">Delete</a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
